
body {
    font-family: sans-serif;
}
.contenido{
    width: 100vw;
    height: 100vh;
    background-color: rgb(105, 155, 105);
    color: white;
}
.barra{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}
.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu li{
    list-style: none;
    
}
.menu a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}
.menu li:hover a{
    background-color: green;
    color: aliceblue;
}
.menu .active{
color: mediumaquamarine;
}
.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
align-items: end;    
gap: 2em;
  }
.main img{
    border: 5px solid mediumaquamarine;
    width: 350px;
    height: 520px;
    object-fit: cover;
}
.download-cv {
  padding: 10px 20px;
  background-color: green;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-box-shadow: 1px 3px 11px -5px rgba(102, 231, 124, 0.69);
  -moz-box-shadow: 1px 3px 11px -5px rgba(102, 231, 124, 0.69);
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 124, 0.69);
}

.download-cv:hover {
  background-color: azure;
  box-shadow: none;
}
.about {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
  }
  .about img{
    width: 90%;
    grid-column: 1/5;

  }
  .about-info {
    grid-column: 5/10;
    padding: 3em;
  }
  .about-info h2 {
    font-size: 2em;
    color: #437c3c;
  }
.subrallado{
    height: 4px;
    width: 60px;
    background-color: greenyellow;
    margin-top: 3px;
    margin-bottom: 2em;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 300px;
    padding: 2em;
    background-color: gren;
  }
  
  .footer-content h2 {
    font-size: 3em;
  }
  
  .footer-content h5 {
    font-size: 0.9em;
    text-align: center;
  }
  table {
    grid-column: 5/10;
    width: 50%;
    margin: 20px auto;
    background: none;
    border: none;
    color: #437c3c;
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
    border-radius: 5px;
}

th {
    background-color: #437c3c;
    color: white;
}

.level {
    width: var(--percentage);
    background-color: #4CAF50; 
    color: white;
    text-align: center;
    padding: 3px 0;
    border-radius: 5px;
}
.redes {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

.redes i {
  font-size: 1.5 rem;
  color: green;
}