.escalera {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.escalera p {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: width 0.5s;
}

.escalera p:nth-child(odd) {
    background-color: #e0e0e0;
}

.escalera p:hover {
    width: 100%;
}