p {
  text-align: justify;
   margin: 0rem 20rem 5rem 19rem;
}

p:first-child {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

p:nth-child(2) {
    text-align: left;
    font-size: 5rem;
}
p:nth-child(3) {
    text-align: left;
    margin: 0rem 30rem 5rem 19rem;
}

button {
    text-align: left;
    border-radius: 25rem;
    background-color: white;
    margin: 0rem 20rem 5rem 19rem;
}