body{
    max-width: 960px;
    margin: 0 auto;
}
.centro{
    text-align: center;
}
.texto{
    font-size: 1.25rem;
    font-weight: 300;
}
.botones{
    text-align: center;
    vertical-align: middle;

}